# Исходный код
*.cs
bin/
obj/

# Выявленные файлы
*.user
*.suo
*.userosscache
*.sln.docstates

# Производственные файлы
*.dll
*.exe
*.pdb

# VSCode
.vscode/

# ReSharper
ReSharper.*

# Visual Studio
.vs/

# TeamCity
[TeamCity]

# Symbol Server
*.symbols

# MyGet
.myget/

# Coverlet
coverlet.collected.*